*{
     margin: 0;
    padding: 0;
    box-sizing: border-box;

   
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #FAFFEA;
    cursor: none;
    letter-spacing: .7px; 
}


body.no-scroll{
     overflow: hidden;
}

p, h1, h2, h3, h4, h5{
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.sidenav{
    width: 27vw;
    height: 100vh;
    display: none;
    margin-left: 10px;
    margin-top: 30px;
}
.mobileNav{
    transition: all 1s ease;
     width: 100vw;
    height: 10vh;
    
}
.mobile-menu{
    z-index: 100;
    background-color: #FAFFEA;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    animation: slideIn .5s ease;
    
}
.logo-container{
    z-index: 4;
    display: flex;
    flex-direction: row;
    width: 27vw;
    
}
#open-menu{
    position: fixed;
    z-index: 5;
    top: 30px;
    left: 420px;
    font-size: 25px;
    margin-top: 20px;
   
    
}
.close-mobile-nav{
  z-index: 101;
  position: absolute;
  margin: 20px;
  
  font-size: 40px;
  color: black;
}
.hamburger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    
    
    padding: 20px 80px 0px 20px;
    z-index:20;
    width: 100vw;
    background-color: #FAFFEA;

}

.hamburger > p {
    font-weight: 700;
    font-size: 30px;
    z-index: 102;
    /* text-decoration: underline; */
    /* font-style: italic; */
}

.logo-mobile{
    position: absolute;
    width: 100vw;
    margin-top: 8px;
    margin-bottom: 10px;
    top: 10px;
    z-index: 20;
    
}
.mobile-menu-links{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 30px;
    text-decoration: none;
    font-size: 45px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: black;
    text-align: right;
    right: 15px;
    list-style: none;
}

.mobile-link, .nav-link{
   padding: 15px 20px 2px;
   transition: 0.3s;
   user-select: none;
}



.nav-link:hover{
    border-bottom: 1px solid black;
    
}


.nav-links-container{
    z-index: 4;
    position: fixed;
    rotate: -12deg;
    padding-top: 10px ;
    top: 95px;
    left: 50px;
    width: fit-content;
    animation: blurIn 0.5s ease;
  
}
.nav-menu-links{
    display: flex;
    flex-direction: row;
    position: relative;
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
color: black;
text-align: right;
right: 30px;

}

.a-filter{
    width: fit-content;
    /* font-size: 20px; */
     font-family: "neue-haas-grotesk-display", sans-serif;
/* font-weight: 400; */
/* font-style: normal; */

padding-right: 20px;
padding-bottom: 10px;


}

.a-filter:hover {
    color: #FF229C;
    transition: all .5s ease;
}

.archive-results-container{
    overflow-y: scroll;
    animation: blurIn 1s ease;
}

.archive-result{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 30px 15px;
    padding-right: 30px;
    border-bottom: 1px solid black;
    margin-left: 20px;
    animation: blurIn 1s ease;
    
}

.mobile-archive-nav{
   
    position: sticky;
    top: 0vh;
    height: 110px;
    width: 100vw;
    left:30vw;
    /* margin-top: 80px; */
    z-index: 10;
    background-color: #FAFFEA;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(180deg, rgba(250,255,234,1) 80%, rgba(250,255,234,0) 100%);
}
.mobile-filters{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
}

.project-post > p {
    margin-top: 30px;
    font-size: 1.4rem;
}
.project_post > .project-info{
    text-align: right;
}
.project-hero-individual{
    
    justify-content: center;
    object-fit: cover;
    object-position: left top;
}

.project-hero {
    
    justify-content: center;
    object-fit: cover;
    object-position: left top;
}
.project-title{
    text-align: right;
    
    font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
}
.project-details{
    text-align: right;
    font-size: 25px;
   
}




.project-text{
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.project-text > p {
    margin-bottom: 20px;
    
    font-size: 1.5rem;
   
}
.project-footnotes{
    align-content: center;
    font-size: .7rem;
    color: #FF229C;
    width: fit-content;
    padding: 20px;
}

sup{
    font-size: 16px;
    color: #FF229C;
    line-height: 0.9;
   
}


.project-link{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
    font-size: 40px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: right;
}
.project-link > svg {
    font-size: 40px;
    padding-right: 10px;
   
}

.project-header{
    display: flex;
    /* height: 400px; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    position: sticky;
    
    /* background-color: #FAFFEA; */
    padding-top: 20px;
    
    background: rgb(250,255,234);

}

.project-links{
    
    display: flex;
    flex-direction: column;
    
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    padding: 20px;
    
    /* margin: 5px 20px 5px 0px; */
}
.project-links > p {
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
}
.project-links > p:hover{
    color: #FF229C;
}

.project-essay-title{
    
    text-align: right;
    font-size: 40px;
    font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 700;
font-style: normal;
margin-right: 20px;

}

.project-essay-title::before, .mobile-link::before{
    content: '// ';
    color: #FF229C;
}

#essay > .project-info{
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
}

a, a:link, a:visited, a:hover, a:active{
    color: black;
    text-decoration: none;
    cursor: none;
   
}


button {
  background: none;
  border: none;
  display: block;
}

button:hover {
  cursor: pointer;
}

.rotate{
    animation: rotate-half 1s ease;
    rotate: 180deg;
    
}

.unrotate{
     animation: rotate-back 1s ease;
    rotate: 0deg;
   
}

.cursor{
   z-index: 100;
    position: absolute;
    top:-10px;
    left: -10px;
    background-color: #FF229C;

    opacity: .6;
    border-radius: 50%;
    pointer-events:none;
   
    height: 20px;
    width: 20px;

    
}




.home-content{
    position: fixed;
    padding-left: 80px;
    padding-top: 20px;
   /* border: 2px solid black; */
   width: calc(100vw - 20vw);
   left: calc(70px + 20vw);
   top: 80px;
   height: 100vh;
   overflow-x: hidden;
  
}

.video-container > video {
    opacity: 0.5;
   
}

.video-container{
    height: 60vh;
    object-fit: cover;
    object-position: left top;
    overflow: hidden;
}

.home-bottom{
    position: fixed;
    background-color: #FAFFEA;
    height: 90vh;
    width: 100vw;
    z-index: 5;
}
.tagline {
    position: fixed;
    font-size: 7.3rem;
    z-index: 10;
    bottom: 1%;
    color: #FF229C;
    text-align: right;
    padding: 40px;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 0.95;
    user-select: none;
}

.home-info{
    position: relative;
  bottom: 0;
}
.loading{
    background-color: #FAFFEA;
    width: 100vw;
}

.minimise-nav{
    position: fixed;
    left: 50px;
    bottom: 50px;
    z-index: 90;
    font-style: oblique;
    color: black;
}
.minimise-nav:hover{
    color: #FF229C;
    
}

.nav-minimised{
     z-index: 30;
    background-color: #FAFFEA;
    ;
   font-size: 35px ;
   left: 30px;
    height: 50px;
    margin: 50px;
    width: calc(100vh - 80px);
    
    position: fixed;
   display: flex;
   justify-content: space-between;
   /* flex-direction: column; */
   align-items: center;
   padding: 10px;
   transform:  rotate(90deg);
   transform-origin: top left;
   
}


.nav-minimised > h4 {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    
    transform:  rotate(180deg);
    animation: blurIn .5s ease;
     /* white-space: nowrap; */
    
    
     
    
}

@keyframes rotate-half {
    0% {rotate: 0deg;}
    100% {rotate: 180deg;}
    
}
@keyframes rotate-back {
    0% {rotate: 180deg;}
    100% {rotate: 0deg;}
    
}

@keyframes blurIn {
    0%{
       opacity: 0;

    }
    100%{
       opacity: 1;

    }
    
}
@keyframes blurInBG {
    0%{
        backdrop-filter: blur(0);
        -webkit-backdrop-filter: blur(0);
        background: rgba(255, 34, 156, 0)


    }
    100%{
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background: rgba(255, 34, 156, 0.3)


    }
    
}

@keyframes slideIn {
    0%{
        left: -100vw;
    }
    100%{
        left: 0vw;
    }
}
@keyframes slideOut {
    0%{
        left: 0vw;
    }
    100%{
        left: -100vw;
    }
}
@keyframes archiveMenuSlideOut {
    0%{
        left: 0;
    }
    100%{
        left: -90vw;
    }
}
@keyframes archiveMenuSlideIn {
    0%{
        left: -90vw;
    }
    100%{
        left: 0vw;
    }
}

@keyframes minimiseNav {

}
@keyframes growContent {
    0%{
        width: calc(100vw - 450px);
        left: 450px;
    }
    100%{
        width: calc(100vw - 100px);
        left: 100px;
    }
}
@keyframes shrinkContent {
    0%{
        width: calc(100vw - 100px);
        left: 100px;
    }
    100%{
        width: calc(100vw - 450px);
        left: 450px;
    }
}


@media screen and (max-width: 780px){
    body{
        overflow: scroll;
    }
    .archive-results-container{
        z-index: 1;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: #FAFFEA;
        padding: 10px;
    }
    .archive-results-container-mobile{
        z-index: 20;
        padding-top: 80px;
        position: fixed;
        top: 0;
        height: 100vh;
        width: 90vw;
        padding-right: 10px;
        background-color: #FAFFEA;
        overflow-y: scroll;
        animation: archiveMenuSlideIn .5s ease;
    }

    .sidenav{
        display: none;
    }
    
    .archive-content, .book-content, .project-content, .about-content{
        position: relative;
        width: 100vw;
        top: 10px;
        padding-bottom: 200px;
        /* overflow-y: scroll; */
        /* padding: 10px; */
        
    }

    .project-hero, .project-hero-individual {
        width: 100%;
        height: 500px;
        justify-content: center;
        object-fit: cover;
        object-position: left top;
    }

    .close-mobile-nav{
        
        top: 0;
        left: 0;
        background-color: #FAFFEA;
    }

    .bg-blur{
        z-index: 16;
        top: 0;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: #FF229C;
        opacity: 0.3;
        position: fixed;
        height: 100vh;
        width: 100vw;
       animation: blurInBG .5s ease;
    }

    .project-text-container{
    display: flex;
    flex-direction: column;
}
.project-header{
    z-index: 15;
    margin-top: 10px;
    width: 100%;
    bottom: 0;
    padding-right: 10px;
    position: fixed;
    background-color: #FAFFEA;
    
}
    .a-filter{
        font-size: 20px;
        padding-left: 10px;
    }

    .project-essay-title{
        margin-top: 5px;
    }
    .project-title{
        font-size: 40px;
        margin-bottom: 10px;
    }
    .project-info {
        font-size: 15px;
    }
    #essay, #media{
    padding-top: 70px;
}

    .mobile-artist{
        display: flex;
        flex-direction: column;
        top: 0;
        z-index: 30;
        position: fixed;
        width: 90vw;
        height: 100vh;
        background-color: #FAFFEA;
        padding: 20px;
        justify-content: end;
        animation: slideIn .5s ease;
    }
    .mobile-artist > .artist-name {
        position: relative;
    font-size: 50px;
    text-align: right;
    padding-right: 4vw;
    bottom: 0px;
}
.mobile-artist > .artist-bio {
    padding-top: 40px;
    font-size: 14px;
}

    
}



@media screen and (min-width: 780px) {
    .mobile-archive-nav{
        display:none;
    }
    body{
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }

    .sidenav {
        display: block;
    }
    .mobileNav{
        display: none;
    }
    .logo{
        z-index: 7;
        margin-top: 10px;
        width: 390px;
        user-select: none;
}

.archive-container, .home-container, .book-container{
    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    /* border: 2px solid black; */
    height: 100vh;
    width: 100vw;
}
.archive-nav, .about-nav, .blog-nav{
    position: relative;
    /* border: 2px solid black; */
    top: 40px;
    width: 400px;
    height: 80vh;
    margin-left: 30px;
    animation: blurIn 0.5s ease;

    
}
 .archive-results-container{
   
    z-index: 1;
    position: relative;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: #FAFFEA;
    }

.archive-filters{
    display: flex;
    position: relative;
    padding-left: 20%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 7px;

}
.archive-content, .book-content, .project-content, .about-content{
     position: fixed;
     padding: 30px;
     padding-left: 50px;
    /* border: 2px solid black; */
    width: calc(100vw - 450px);
    left: 450px;
    top: 0;
    height: 100vh;
    overflow-x: scroll;
    padding-right: 80px;
}

.mobile-archive-nav{
    display: none;
}

.close-mobile-nav{
    display: none;
}

.project-post{
    padding: 20px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.project-hero {
    width: 100%;
    height: 75vh;
   
}
.project-hero-individual {
    width: 100%;
    height: 50vh;
   
}

.project-nav, .home-nav{
    position: absolute;
    bottom: 20px;
    width: 400px;
    text-align: right;
    padding-left: 40px;
    font-size: 15px;
    animation: blurIn 0.5s ease;
    
}

.home-nav{
    text-align: left;
    bottom: 100px;
     font-family: "neue-haas-grotesk-display", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 1.2rem;
}

.project-nav > .artist-name 
{
    font-size: 50px;
}

.project-text-container{
    display: flex;
    flex-direction: row;
}
.project-header{
    width: 100%;
    top: -31px;
    padding-bottom: 60px;
    padding-top: 0;
    background: linear-gradient(180deg, rgba(250,255,234,1) 80%, rgba(250,255,234,0) 100%);
}

.a-filter{
    font-size: 18px;
}

.project-essay-title{
    margin-top: 40px;
}
.project-title{
    font-size: 70px;
}

#essay, #media{
    padding-top: 170px;
}

.product-container{
    display: flex;
    flex-direction: row;
}
.project-details{
    position: relative;
    flex-direction: column;
}
}